
.good_card:hover{
    border-color: darkcyan;
}

.good_img img {
    
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.good_img{
    width: 100%;
    
}

.good_color{   
    margin: 5px 0px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    overflow: hidden;  
}

.good_colors{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
}

.good_color:hover {
    border-color: darkcyan;
    cursor: pointer;
}

.carousel-img {
    margin: auto;
}

.good-desc {
    white-space: nowrap;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.good_color img {
    max-height: 100%;
    max-width: 100%;
    
}
