{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

<div class="container" ng-controller='DoorsController'>

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" >Фильтр</button>
          </p>
          <ul class="bxslider">
             {% for action in actions %}
              <li><img class="carousel-img" src="{{action.foto.url}}" alt=""></li>
             {% endfor %}
          </ul>
          <div class="row">
           
            <div class="col-xs-6 col-lg-4 thumbnail good_card" ng-repeat="good in goods|GoodsFilter:filters:this" ng-controller='ColorsController'
               ng-init = "mainImage = good.goods_colors[0].goods_images[0].image" ng-mouseenter="doorHover($event)" ng-mouseleave="doorHover($event)">
                <div class="input">
                   <div class="good_img">
                    <img  src="{$ mainImage $}" alt="">  
                    <div class="good_colors">
                        <div class="good_color" ng-repeat="good_color in good.goods_colors" ng-click="showImage(good_color.id)"><img src="{$ good_color.goods_images[0].image $}" alt=""></div> 
                    </div>   
                </div>      
                         
                <h4>{$ good.name $}</h4>
                <p class="good-desc">{$ good.desc $}</p>
                <p><a class="btn btn-default" href="#" role="button">Заказать &raquo;</a></p>
              </div>
            </div><!--/.col-xs-6.col-lg-4-->
           

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <p>Фильтры</p>
          <div class="panel-group" id="accordion">
              <!-- 1 панель -->
              <div class="panel panel-default">
                <!-- Заголовок 1 панели -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Bootstrap 3 - Введение</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <!-- Содержимое 1 панели -->
                  <div class="panel-body">
                      <div ng-repeat="filter in filters">
                        <h3 class="sort">{$filter.name$}</h3>
                        <ul class="sortoptions">
                          <li ng-repeat="option in filter.property_values">
                            <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded"> {$option.value$}
                          </li>
                        </ul>
                      </div>
                  </div>
                </div>
              </div>
              <!-- 2 панель -->
              <div class="panel panel-default">
                <!-- Заголовок 2 панели -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Bootstrap 3 - Начало работы</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <!-- Содержимое 2 панели -->
                  <div class="panel-body">
                    <p>Изучение технологии лучше всего начать с простого <a href="http://itchief.ru/lessons/bootstrap-3/20-lesson-2-getting-started-with-twitter-bootstrap-3" target="_blank">урока</a>. На котором изучается как подключить Twitter Bootstrap к своему проекту и вывести с помощью него простейший текст.</p>
                  </div>
                </div>
              </div>
              <!-- 3 панель -->
              <div class="panel panel-default">
                <!-- Заголовок 3 панели -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Bootstrap 3 - Создание сайта</a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <!-- Содержимое 3 панели -->
                  <div class="panel-body">
                    <p>Создание сайта - это трудоемкий процесс, который состоит из нескольких этапов. В качестве примера рассмотрим создание сайта визитки на этом <a href="http://itchief.ru/lessons/bootstrap-3/website-creation-business-cards-(part-1)" target="_blank">уроке</a>, в котором рассмотрим процесс загрузки необходимых пакетов и проектирования макета сайта.</p>
                  </div>
                </div>
              </div>
            </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
{% endblock %}      