{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}
    <div class="container goods" ng-controller = 'DoorsController'>
       <div class="row">
         <!-- <label for="n">Имя:</label><input type="text" name="n" id="" ng-model="name">
          <p>Привет {$name$}</p>  -->        
          
          
          <div class="well col-xs-12 col-sm-4 col-md-3 good_card" ng-repeat="good in goods">
              <img class = "good_img" src="{$ good.goods_colors[0].goods_images[0].image $}" alt="">
                  <div class="good_colors">
                      <div class="good_color" ng-repeat="color in good.goods_colors" style="background-color: {$ color.color $}"></div>   
                  </div>       
              <p>{$ good.name $}</p>
              <p>{$ good.desc $}</p>
          </div>
          
       </div>        
    </div>
{% endblock %}